beautifulsoup4==4.11.1
deep_translator==1.8.3
discord.py==1.7.3
get_chefkoch==1.0.2
lyricsgenius==3.0.1
markovify==0.9.3
Pillow==9.1.1
praw==7.5.0
pylast==4.5.0
python_dateutil==2.8.2
pytz==2021.3
requests==2.27.1
